{%
    set body_classes = [
        not root_path ? 'is-homepage',
    ]
%}

<!DOCTYPE html>
<html {{ html_attributes }}>

    <head>

        <head-placeholder token="{{ placeholder_token }}">

        <title>{{ head_title | safe_join(' | ') }}</title>

        <css-placeholder token="{{ placeholder_token }}">
        <js-placeholder token="{{ placeholder_token }}">

    </head>

    <body {{ attributes.addClass(body_classes) }}>

        {{ page_top }}
        {{ page }}
        {{ page_bottom }}

        <js-bottom-placeholder token="{{ placeholder_token }}">
    </body>

</html>
